<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vindsiden.windwidget"
    android:versionCode="8"
    android:versionName="1.7">
    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="18"
         />
		
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <activity
            android:name=".VindsidenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".VindsidenAppWidgetProvider"
            android:label="WindWidget">
            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/initial_app_widget_provider_config" />
        </receiver>
        <service
            android:name=".VindsidenAppWidgetService" />
    </application>
</manifest>